/* Overall Styling */
body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to bottom, #6a11cb, #2575fc);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items : center;
    height: 100vh;
}
/* Main Container */
.container{
    text-align: center;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 600px;
h
}
.container:hover{
    background-color: red;
}