/* Overall Styling */
body{
    margin: 10;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to bottom, #6a11cb, #2575fc);
    
    display: flex;
    justify-content: center;
    align-items : center;
    height: 100h;
}
/* Main Container */
.container{
    text-align: center;
    ping: 2rem;
    background: rgba(0, 0, 0,0.7);
    border-radius: 15px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.6);
    width: 90%;
    max-width: 600px;
font-size: x-large;
}
.container:hover{
    background-color yellow;
    
}
